# Build
bin/
obj/

# Visual Studio
.vs/

# VS Code
.vscode/

# User files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
packages/
*.nupkg

# Entity Framework
*.dbmdl

# Publish
publish/

# Rider
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user